@page "/"
@inject NavigationManager Nav
@inject DateState Date
@inject SkillsState Skills
@inject DataState Data 
@inject SettingsState Settings

<div class="input-grid">
	<div class="editor">
		<TabGroup TabClass="editor-tab" SelectedTabClass="editor-tab">
			<Tab Name="Crop">
				<table class="data-table">
					<tr>
						<th></th>
						<th>Image and Name</th>
						<th>Seed Price and Source</th>
					</tr>
					<tr>
						<td><label class="entry-checkbox-label"><input type="checkbox" class="entry-checkbox" checked><span class="entry-checkbox-background"></span></label></td>
						<td>Image and Name</td>
						<td>
							<select class="source-selector">
								<option value="Pierre" class="source-option">Pierre</option>
								<option value="Jojo" class="source-option">Jojo</option>
								<option value="Oasis" class="source-option">Oasis</option>
							</select>
						</td>
					</tr>
				</table>
			</Tab>
			@*<Tab Name="Fertilizer">
				<table class="data-table">
					<tr>
						<th></th>
						<th>Image and Name</th>
						<th>Price and Source</th>
					</tr>
					<tr>
						<td><label class="entry-checkbox-label"><input type="checkbox" class="entry-checkbox" checked><span class="entry-checkbox-background"></span></label></td>
						<td>Image and Name</td>
						<td>
							<select class="source-selector">
								<option value="Pierre" class="source-option">Pierre</option>
								<option value="Jojo" class="source-option">Jojo</option>
								<option value="Oasis" class="source-option">Oasis</option>
							</select>
							<label class="lock-checkbox-label"><input type="checkbox" class="lock-checkbox"><span class="lock-checkbox-background"></span></label>
						</td>
					</tr>
				</table>
			</Tab>*@
		</TabGroup>
	</div>

	<div class="top-row">
		<button class="switch-calc-mode">
			Greenhouse Mode
		</button>
	</div>
	@*<div class="skills">
		<span class="input-header">Skills</span>
		<TabGroup>
			@foreach (Skill skill in Skills.Skills)
			{
				<Tab Name=@skill.Name>
					<label class="input-label">
						Farming Level:
						<input type="number" class="number-input" @bind=skill.Level>
					</label>
					@foreach (IProfession[] professions in skill.Professions)
					{
						@foreach (IProfession profession in professions)
						{
							<ToggleButton @bind-Toggle=profession.Selected>
								Image
								@profession.Name
							</ToggleButton>
						}
					}
				</Tab>
			}
		</TabGroup>
	</div>*@
	<div class="products">
		<span class="input-header">Sell</span>
		@foreach (IProcessor processor in Data.Processors)
		{
			<label class="input-checkbox-label">
				@processor.Name
				<input type="checkbox" class="input-checkbox" @bind=processor.Selected>
				<span class="input-checkbox-background"></span>
			</label>
		}
	</div>
	<div class="sources">
		<span class="input-header">Sources</span>
		@foreach (ISource source in Data.BuySources)
		{
			<label class="input-checkbox-label">
				@source.Name
				<input type="checkbox" class="input-checkbox" @bind=source.Selected>
				<span class="input-checkbox-background"></span>
			</label>
		}
	</div>
	<div class="replant">
		<span class="input-header">Replant</span>
		@foreach (ISource replant in Data.ReplantMethods)
		{
			<label class="input-checkbox-label">
				@replant.Name
				<input type="checkbox" class="input-checkbox" @bind=replant.Selected>
				<span class="input-checkbox-background"></span>
			</label>
		}
	</div>
	<div class="non-greenhouse-settings">
		<label class="input-header">
			Start Date:
			<select class="season-selector" @bind=Date.StartSeason>
				@foreach (Season season in Enum.GetValues(typeof(Season)))
				{
					<option value=@((int)season)>@season</option>
				}
			</select>
			<input type="number" @bind=Date.StartDay>
		</label>
		<label class="input-header">
			End Date:
			<select class="season-selector" @bind=Date.EndSeason>
				@foreach (Season season in Enum.GetValues(typeof(Season)))
				{
					<option value=@((int)season)>@season</option>
				}
			</select>
			<input type="number" @bind=Date.EndDay>
		</label>
	</div>
	<div class="bottom-row">
		<button class="switch-input-output" @onclick="@(() => Nav.NavigateTo("output"))">
			Back to Plans
		</button>
		
		<button class="help-button" @onclick="@(() => Nav.NavigateTo("help"))">
			Help
		</button>
	</div>

</div>
